:root {
  --text-black-color: #212121;
  --text-link-color: #2196f3;
  --text-white-color: #ffffff;
  --main-font-family: 'Roboto', sans-serif;
  --text-grey-color: #757575;
  --main-background-darkblue: #2f303a;
  --cursor-pointer: pointer;
  --grey-color-buttons: #f5f4fa;
  --fill-color-svg-static: #afb1b8;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

textarea {
  resize: none;
}

// @media screen and (min-width: 900px) {
//   header.main-header {
//   }
// }

.flex-center-items {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-size-14 {
  font-size: 14px;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

header.main-header {
  //   display: flex;
  //   padding: 0 20px;
  border-bottom: 0.5px solid lightgray;

  .logo {
    color: var(--text-black-color);
    font-size: 26px;
    line-height: calc(31 / 26);

    letter-spacing: 0.03em;
  }
}

.footer {
  background-color: var(--main-background-darkblue);
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
  }

  .logo {
    color: var(--text-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);

    letter-spacing: 0.03em;
  }
}

.list-style-none {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-li:not(:last-child) {
  margin-right: 50px;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.main-header-links {
  text-decoration: none;
  color: var(--text-black-color);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  position: relative;

  &.span-blue::after {
    content: '';

    position: absolute;
    background-color: var(--text-link-color);
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
}

.main-page {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-page-text {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-section-list {
  gap: 30px;
  justify-content: space-between;

  .main-section-list-title {
    font-size: 14px;
    color: var(--text-black-color);
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .main-section-list-paragraph {
    color: var(--text-grey-color);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main-page-button {
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  width: 216px;
  height: 50px;
  border: 1px solid transparent;
  transition-property: background-color, box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.work-example-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.our-team {
  .our-team-names {
    color: var(--text-black-color);
    text-align: center;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .our-team-position {
    text-align: center;
    color: var(--text-grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
  }
}
.our-team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.span-blue {
  color: var(--text-link-color);
}

.footer-address {
  margin-top: 20px;

  .address-links {
    color: var(--text-white-color);
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    transition-property: color;
    transition: ease-in 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address-links {
  transition-property: color;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .icon {
    transition-property: fill;
    transition: ease-in 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: var(--text-link-color);

    .icon {
      fill: var(--text-link-color);
    }
  }
}

.portfolio-button {
  font-size: 16px;
  background-color: var(--grey-color-buttons);
  border: none;
  border-radius: 4px;
  color: var(--text-black-color);
  cursor: pointer;
  font-size: 16px;
  line-height: calc(26 / 16);
  padding: 8px 22px;
  transition-property: background-color, box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    background-color: var(--text-link-color);
    color: var(--text-white-color);
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }
}

.img-title {
  font-weight: 700;

  line-height: calc(36 / 18);

  letter-spacing: 0.06em;
}
.img-paragraph {
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.03em;
}
.font-size-18 {
  font-size: 18px;
}
.text-black-color {
  color: var(--text-black-color);
}

.text-grey-color {
  color: var(--text-grey-color);
}
.text-white-color {
  color: var(--text-white-color);
}

.opasity-whit-60 {
  opacity: 60%;
}

.email-header {
  color: #757575;
}

.tel-header {
  color: #757575;
}

// main class container

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-container {
  height: 80px;
}

// <!--removing title-->

.title-hide {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  opacity: 0;
  margin-left: 0;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: space-between;
}

.work-example-list {
  margin-top: 0;
  justify-content: space-between;
}

.section-advantage {
  //   margin-bottom: 45px;
  padding-top: 94px;
}

.text-aling {
  text-align: center;
}

.backgroud-color {
  background-color: #f5f4fa;
}

.padding-60px {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  margin: 0;
  padding: 0;
}

.item-footer:not(:last-child) {
  margin-bottom: 9px;
}

.just-cont-sp {
  justify-content: space-between;
}

.our-team li {
  background-color: var(--text-white-color);
}

.main-header {
  border-bottom: 1px solid #ececec;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.container-portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-portfolio {
  .main-button-list-portfolio {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 54px;
  }
}

.our-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-buttons-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.padding-32px {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.padding-top-0px {
  padding-top: 0px;
}

.mb-30px {
  margin-bottom: 30px;
}

.img-block {
  display: block;
  max-width: 100%;
  height: auto;
}

.h2-p {
  padding: 20px 24px;
  width: 370px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.mb-4 {
  margin-bottom: 4px;
}

.w-270px {
  width: 270px;
}

.w-370px {
  width: 370px;
}

.block {
  display: block;
}

.overlay {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/overlay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.advantage-card {
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  li {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grey-color {
  fill: var(--text-grey-color);
}

.icon-link {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition-property: background-color, box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link {
  transition-property: fill;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.static-color {
  fill: var(--fill-color-svg-static);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--text-link-color);

  .icon-team-link {
    fill: var(--text-white-color);
  }
}

.link-clients {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  transition-property: border-color;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients-logo {
  transition-property: fill;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex {
  display: flex;
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--text-link-color);

  .link-clients-logo {
    fill: var(--text-link-color);
  }
}

.gap-30px {
  gap: 30px;
}

.h3-footer-link {
  font-family: var(--main-font-family);
  font-size: 14px;
  color: var(--text-white-color);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon-link-footer {
  height: 44px;
  width: 44px;
  background-color: #44454e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition-property: background-color;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link {
  transition-property: fill;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.static-color-footer {
  fill: rgba(255, 255, 255, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: var(--text-link-color);

  .icon-team-link {
    fill: var(--text-white-color);
  }
}

.p-94px {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gap-70px {
  gap: 70px;
}

.list__link {
  position: relative;
  text-decoration: none;
  outline: transparent;
  display: block;
  transition-property: box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  // this centers the div on the middle
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scale_up {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  85% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes scale_down {
  10% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  $delay: 0.5s;
  transition-property: opacity, visibility;
  transition: ease-out $delay;

  .modal {
    animation: scale_down $delay ease-out;
  }
}

.backdrop:not(.is-hidden) {
  .modal {
    animation: scale_up 0.5s ease-in;
  }
}

.modal {
  padding: 40px;
  position: relative;
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-close {
  fill: rgba(0, 0, 0, 1);
}

.modal__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;

  svg {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    svg.icon-close {
      fill: rgba(33, 150, 243, 1);
    }
  }
}

.text-overlay {
  position: absolute;
  bottom: 111px;
  width: 370px;
  height: 0;
  background-color: #2196f3e5;
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--text-white-color);
  padding: 62px 24px;
  opacity: 0;
}

.list__link {
  &:hover,
  &:focus {
    .text-overlay {
      opacity: 1;
      transition-property: opacity, height;
      transition: ease-in 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      height: 294px;
    }
  }
}

.work-example__textoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 95px;

  p {
    color: var(--text-white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    font-family: var(--main-font-family);

    text-transform: uppercase;
  }
}

.work-example__li {
  position: relative;
}

//  <!--inputs-->
.form-email {
  display: flex;
  gap: 12px;
}
.footer-button {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition-property: background-color, box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.svg-sent {
  margin-left: 10px;
  fill: var(--text-white-color);
}

.form-title {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font-family);
  font-size: 14px;
  color: var(--text-white-color);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.footer-container {
  align-items: baseline;
}

.social-links-form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.form-modal-title {
  display: block;
  text-align: center;
  font-family: var(--main-font-family);
  color: var(--text-black-color);
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

.modal-label:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.modal-comment {
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-grey-color);
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 5px;
  cursor: pointer;
  transition-property: border;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: rgba(33, 150, 243, 1);
}

.modal-input-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  transition-property: border;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.modal-form-button {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition-property: background-color, box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-label {
  position: relative;
  svg {
    position: absolute;
    top: 33px;
    left: 12px;
  }
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  gap: 10px;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-custom {
  height: 16px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox:checked + .checkbox-custom {
  background-color: #2196f3;
  // transition-property: background-color, border;
  // transition: ease-in 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.modal-comment-link {
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--text-grey-color);
  a {
    color: var(--text-link-color);
  }
}
